/************************公共样式************************/
*{
    box-sizing: border-box;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
html,body{
    height: 100%;
    background-color: #fff;
    color: #333;
}
#__nuxt{
    height:100%;
}
#sign-template{
    height: 100%;
    background-color: #f1f1f1;
}
#default-template{
    height: 100%;
    padding-top: 56px;
    background-color: #fff;
}
a,a:hover,a:focus {
    text-decoration: none!important;
    color:inherit!important;
}
input:focus {
    outline:none;
}
h1,h2,h3,h4,h5,h6,th,td{
    margin:0;
    padding:0;
}
ul,ol,dl {
    list-style:none;
    margin:0!important;
    padding:0;
}
@media (min-width: 992px) {
    .my-container{
        width: 960px;
        margin: 0 auto;
    }
}
@media (max-width: 1080px) {
    .my-container{
        width: 750px;
        margin: 0 auto;
    }
}
/****************首页**********************/
.index {
    padding-top: 60px;
}
.index .main {
    padding-right: 0;
}
.index .main .banner {
    margin-bottom: 35px;
}
.index .main .banner img{
    width: 100%;
}
.index .list{
    padding: 0;
}
.index .list .trigger-menu li{

    border-radius: 5px;
}
.index .list .trigger-menu li a{
    display: block;
    padding: 10px 20px;
}
.index .list .trigger-menu li:hover{
    background-color: #ea6f5a;
    color: white;
    opacity: .6;
}
.index .list .trigger-menu li.active{
    background-color: #ea6f5a;
    color: white;
    opacity: .6;
}
.note-list{
    display: flex;
    flex-wrap: wrap;
}
.note-list li{
    width: 25%;
    padding: 5px 15px;
}
.note-list .content{
    padding: 0 10px;
}
.note-list li img{
    width: 100%;
    height: 225px;
}
































